<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>xxcanghai.cnblogs.com</title>
</head>

<body>
    <h1>NW.js Menu Demo</h1>

    <a href="menu.html">menu.html</a>
    <br><br>
    <hr>
    <div>
        联系我：<a href="mailto:xxcanghai@gmail.com">xxcanghai@gmail.com</a>
        <br>  
        博客：<a href="http://xxcanghai.cnblogs.com/">http://xxcanghai.cnblogs.com/</a>
        <br>  
        Github: <a href="https://github.com/xxcanghai">https://github.com/xxcanghai</a>
    </div>



</body>

</html>